:root {
    --primary-color: #ff226f;
    --primary-color-dark: #fe6769;
    --text-dark: #333333;
    --white: #ffffff;
  }



*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: #f0f2f5;
    color: #5f5f5f;
}
a{
  text-decoration: none;
  color: #5f5f5f;  
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.logo img{
    width: 30px;
    margin-right: 15px;
    display: block;
}
.navbar-center ul li{
    display: inline-block;
    list-style: none;
}
.navbar-center ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}
.navbar-center ul li a img{
    width: 30px;
}
.navbar-center ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #045be6;
    position: absolute;
    bottom: -15px;
    transition: width 0.3s;

}
.navbar-center ul li a:hover::after,.navbar-center ul li a.active-link::after{
    width: 100%;
}

.nav-profilr-img{
    width: 40px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;

}
.online{
    position: relative;

}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #41db51;
    position: absolute;
}
.search-box{
    background: #f0f2f5;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.navbar-left{
    display: flex;
    align-items: center;
}
.search-box img{
    width: 14px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: none;
}
.container{
   padding: 20px 6%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center; 
}



.left-sidebar{
    flex-basis: 23%;
    align-self: flex-start;
    position: sticky;
    top: 73px;

}
.sidebar-profilebox{
    background: #fff;
}
.sidebar-profile-info{
    padding: 0 25px;   
}
.sidebar-profile-info img{
    width: 90px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top: -45px;
}
.user-image{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
}
#photo{
  width: 110px;
  height: 105px; 
  border-radius: 50%;
  /* margin: 45% 45%; */
}
#file{
    display: none;
}
#uploadbutton{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    /* transform: translateX(-150%); */
    margin-left: -40px;
    margin-top: 20px;
    background-color: rgba(173, 172, 172,0.801);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6441);
}
.sidebar-profile-info h1{
   margin-top: -60px;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.sidebar-profile-info h3{
    font-size: 14px;
    font-weight: 500;
    color: #777;
    
}
.sidebar-profile-info ul{
    list-style: none;
    margin: 20px 0;
}
.sidebar-profile-info ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
}
.sidebar-profile-info ul li:hover{
    background: #777;
    cursor: pointer;
    color: #333;
}
.sidebar-profile-info ul li span{
    float: right;
    color: #045be6;
}
.sidebar-profile-link{
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}
.sidebar-profile-link a{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 13px;
    border-left: 1px solid #ccc;
    text-decoration: none;
    color: #333;
}
.sidebar-profile-link a:first-child{
    border-left: 0;
}
.sidebar-profile-link a img{
    width: 20px;
    margin-right: 10px;
}
.sidebar-activity{
    background: #fff;
    padding: 5px 25px;
    margin: 12px 0;
}
.sidebar-activity h3{
    color: #777;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 10px;
}
.sidebar-activity a{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
    text-decoration: none;
}
.sidebar-activity a img{
    width: 20px;
    margin-right: 10px;
}

.discover-more{
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
}
.discover-more a{
    color: #045be6;
    display: inline-block;
    margin: 10px 0;
}
.main-content{
    flex-basis: 47%;
}
.create-post{
   background: #fff; 
   margin-left: 10px;
   margin-right: 10px;
}
.create-post-input{
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
}
.create-post-input img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.create-post-input textarea{
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    background: transparent;
    margin-top: 8px;
}
::placeholder{
    font-weight: 500;
}
.create-posts-links{
    display: flex;
    align-items: flex-start;

}
.create-posts-links li{
    list-style: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex-basis: 25%;
    height: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.create-posts-links li img{
    width: 15px;
    margin-right: 5px;
}
.create-posts-links li:last-child{
    background: #045be6;
    color: #fff;
    border-top: 0;
    border-right: 0;
}
.sort-by{
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px;


}
.sort-by hr{
    flex: 1;
    border: 0;
    height: 1px;
    background: #ccc;
}
.sort-by p{
    font-size: 13px;
    padding-left: 5px;
}
.sort-by p span{
    font-weight: 600;
    cursor: pointer;
}
.sort-by p span img{
    width: 12px;
     margin-left: 3px;
}
.post{
    background: #fff;
    padding: 20px 25px 5px;
    margin: 5px 10px 15px 10px;
}
.post-author{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.post-author img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}
.post-author h1{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.post-author small{
    display: block;
    margin-bottom: -2px;
}
.post p{
    font-size: 14px;
    margin-bottom: 15px;
}
.post-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;  
    padding-bottom: 6px;
    cursor: pointer;
}
.post-stats div{
    display: flex; 
    align-items: center;

}
.post-stats img{
    width: 15px;
    margin-right: -5px;
    cursor: pointer;
}
.liked-users{
    margin-left: 10px;
}
.post-activity{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}
.post-activity-link{
  cursor: pointer;
}
.post-activity div{
    display: flex;
    align-items: center;
    
}
.post-activity-user-icon{
    width: 22px;
    border-radius: 50%;
    cursor: pointer;
}
.post-activity-arrow-icon{
    width: 12px;
    margin-left: 5px;
}
.post-activity-link img{
    width: 18px;
    margin-right: 8px;
    
}








.right-sidebar{
    flex-basis: 23%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.sidebar-news{
   background: #fff;
   padding: 10px 20px; 
}
.info-icon{
   width: 15px;
   float: right;
   margin-top: 15px; 
}
.sidebar-news h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 30px;
}
.sidebar-news a{
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -5px;
}
.sidebar-news span{
    font-size: 12px;
}
.sidebar-news .read-more-link{
    color: #045be6;
    font-weight: 500;
    margin: 20px 0 10px;
}
.sidebar-ad{
    background: #fff;
    padding: 15px 25px;
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
}
.sidebar-ad img{
    width: 60px;
    border-radius: 50%;
    margin: 4px;
}
.sidebar-ad small{
    float: right;
    font-weight: 500;
}
.sidebar-ad p{
    margin-top: 30px;
    margin-bottom: 10px;
}
.sidebar-ad b{
    display: block;
    font-weight: 500;
    margin-top: 10px;
}
.ad-link{
    display: inline-block;
    border: 1px solid #045be6;
    border-radius: 30px;
    padding: 5px 15px;
    color: #045be6;
    font-weight: 500;
    margin: 20px auto 10px;
}
.sidebar-useful-links{
   padding: 15px 25px;
   text-align: center; 
}
.sidebar-useful-links a{
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
}
.copyright-msg{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px; 
   margin-top: 10px;
   font-weight: 500;
}
.copyright-msg img{
    width: 18px;
    margin-right: 4px;
}



.profile-menu-wrap{
    position: absolute;
    top: 6%;
    z-index: 1000;
    right: 5%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.profile-menu-wrap.open-menu{
    max-height: 400px;
}
.profile-menu{
    
    background: #222;
    color: #fff;
    padding: 20px;
    margin: 10px;   
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.user-info h3{
    font-weight: 500;
    margin-bottom: -7px;
}
.user-info a{
    color: #c9dbf8;
    font-size: 13px;
}
.profile-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 15px 0 10px;
}
.profile-menu-link{
    display: flex;
    align-items: center;
    color: #fff;
    margin: 12px 0;
    font-size: 14px;
}
.profile-menu-link p{
    width: 100%;
}
.profile-menu-link img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}



.profile-main{
    flex-basis: 73%;
}
.profile-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}
.profile-container{
    background: #fff;
}
.profile-container-inner{
    padding: 0 4% 10px;
}
.profile-pic{
    width: 150px;
    border-radius: 50%;
    margin-top: -75px;
    padding: 5px;
    background: #fff;
}
.profile-container h1{
    font-size: 28px;
    font-weight: 600;
    color: #222;
}
.profile-container b{
    font-weight: 500;
}
.profile-container p{
    margin-top: 5px;
}
.profile-container p a{
    color: #045be6;
    font-weight: 500;
}
.mutual-connection{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.mutual-connection img{
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.profile-btn{
    margin: 20px 0;
}
.profile-btn a{
    display: inline-flex;
    align-items: center;
    background: #e4e6eb;
    padding: 6px 15px;
    border-radius: 4px;
    margin-right: 10px;
}
.profile-btn a img{
    width: 18px;
    margin-right: 5px;
}
.profile-btn .primary-btn{
    background: #045be6;
    color: #fff;
}
.profile-description{
    background: #fff;
    padding: 20px 4% 30px;
    margin: 12px 0;
}
.profile-description h2{
    color: #333;
    margin: 10px 0 20px;
    font-weight: 600;
}
.see-more-link{
    display: block;
    text-align: right;
    font-size: 15px;
}
.profile-desc-row{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}
.profile-desc-row img{
    width: 50px;
    margin-right: 25px;
    margin-top: 5px;
}
.profile-desc-row div{
    width: 100%;
}
.profile-desc-row div button{
    background: #045be6;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
    margin-top: 5px;
    border-radius: 15px;
    cursor: pointer;
}
.profile-desc-row h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.profile-desc-row b{
    display: block;
    font-weight: 500;
    font-size: 15px;
}
.profile-desc-row p{
    margin-top: 15px;

}
.profile-desc-row hr{
    border: 0;
    border-bottom: 1px solid #999;
    margin-top: 10px;
}
.Experince-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-weight: 500;
}
.Experince-link img{
    width: 20px;
    margin-left: 8px;
}
.skillls-btn{
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    border: 1px solid #777;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
}
.language-btn{
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    background: #e4e6eb;
    font-size: 12px;
    font-weight: 500;
}
.profile-sidebar .sidebar-ad{
    margin-left: 20px;
    margin-top: 0;
}
.sidebar-people{
    background: #fff;
    padding: 15px 25px;
    margin: 12px 0 0 20px;
    font-size: 12px;
}
.sidebar-people h3{
    font-size: 16px;
    font-weight: 600 ;
    margin: 10px 0 20px;
}
.sidebar-people-row{
    display: flex;
    align-items: flex-start;
    margin: 6px 0;
}
.sidebar-people-row img{
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 5px;
}
.sidebar-people-row h2{
    font-weight: 500;
    font-size: 16px;
}
.sidebar-people-row a{
    display: inline-block;
    margin: 10px 0;
    padding: 5px 25px;
    border: 1px solid #5f5f5f;
    border-radius: 30px;
    font-weight: 500;
}
.profile-footer{
    padding: 0 6% 30px;
}
.profile-footer .sidebar-useful-links{
    text-align: left;
    padding: 0;
}
.profile-footer .copyright-msg{
    justify-content: flex-start;
}
#show-more-link{
    display: none;
}






.container2{
    padding: 20px 6%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center; 
}
.left-sidebar2{
    flex-basis: 20%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
    border-radius: 10px;
}
.sidebar-activity2{
    background: #fff;
    /* padding: 5px 25px; */
    margin: 12px 0; 
    border-radius: 10px;
}
.sidebar-activity2 a{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 3px 0;
    text-decoration: none;
    padding: 20px;
}
.sidebar-activity2 li{
  list-style: none;
  padding: 20px;
  color: #333;
  cursor: pointer;
}
.sidebar-activity2 li i{
  padding-right: 15px;
}
.sidebar-activity2 a i{
    padding-right: 15px;
}
.sidebar-activity2 .blue-link{
    color: #045be6;
    margin-top: -25px;
}
.btn2 button{
 background: transparent;
 font-size: 20px;
 padding: 5px 30px 5px 30px;
 margin-left: 15px;
 color: #045be6;
 border-radius: 20px;
 border-color: #045be6;
 cursor: pointer;
}
.btn2 button:hover{
    border: 3px solid #045be6;
}
.btn2 button i{
    padding-right: 10px;
}
.main-content2{
    flex-basis: 47%;

}
.search-items{
    background: #fff;
    margin: 15px 10px 0 10px;
    padding: 15px 0 10px 0;
}
.search-items h2{
    padding: 15px 0 10px 10px;
}
.search-items span{
    float: right;
    margin: -42px 5px 0 0;
    font-size: 30px;
    cursor: pointer;
}
.profile-container2{
    margin-left: 10px;
    margin-right: 10px;
}
.profile-description span{
    padding-top: -30px;
}
.btn-class{
    margin-left: 10px;
    
}
.btn-class button{
    font-size: 12px;
    margin: 5px;
    padding: 4px;
    border-radius: 15px;
    background: transparent;
    border: 1px solid #045be6;
    color: #045be6;
    cursor: pointer;
} 
.btn-class button i{
    padding-right: 5px;
}
.btn-class .All-btn{
    font-size: 15px;
    color: white;
    background: green;
    padding: 7px 10px 4px 10px;
    border: 1px solid black;
}
.btn-class .white-btn{
    font-size: 15px;
    border: 1px solid black;
    padding: 7px 10px 4px 10px;
    color: black;
}
.right-sidebar2{
    flex-basis: 27%;
    align-self: flex-start;
    position: sticky;
    /* top: 73px; */
    margin-top: 15px;
}
.sidebar-news2{
    background: #fff;
    padding: 10px 20px;
}
.sidebar-news2 h3{
    padding: 15px 0 5px 10px;
    color: #333;
}
.sidebar-news2 span{
    padding: 0 0 5px 10px;
    color: #333;
}
.sidebar-news2 div{
    display: flex;
    
}
.sidebar-news2 div h4{
    padding: 40px 0 5px 10px;
  
}
.sidebar-news2 div img{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 30px;
    margin-left: 20px;
    
}
.sidebar-news2 p{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.sidebar-news2 a{
    padding-top: 20px;
}
.Experince-link2{
    padding-left: 10px;
}
.For-Notification-AD{
    flex-basis: 27%;
    align-self: flex-start;
    position: sticky;
    margin-top: 5px;
}
img.notification-profile-part{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
 div.profile-part-div b:first-child{
    padding-top: 20px;
}
div.profile-part-div span{
    padding-top: 20px;
}
.profile-part-div .span{
    padding-top: 30px;
}
.popup .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}
.popup .content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 550px;
    height: 550px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    cursor: pointer;
}
.popup .content textarea{
  resize: none;
}
.popup .content h1{
    text-align: left;
    color: black;
}
.popup .content select#select-event{
    height: 50px;
    font-size: 15px;
    padding-left: 5px;
   
}

.popup .content div.file{
    margin-top: 30px;
    height: 50%;
    width: 100%;
    background: #f4f2ee;
}
.popup .content div.file input{
    margin-top: 20%;
    margin-left: 30%;
    
}
.popup .content form{
    margin-top: 5%;
    float: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 480px;
}
.popup .content form h3{
    margin-left: -376px;
}
.popup .content form div.radio-box{
   /* padding-left: 20px; */
    padding-top: 10px;
    display: flex;
   width: 100%;
   
}
.popup .content form div.radio-box input[type = radio]{
    border: 0px;
    width: 20%;
    height: 2em;
    accent-color: green;
    cursor: pointer;
}
.popup .content form div.radio-box span{
    font-size: 19px;
    display: block;
    margin-left: -25px;
    margin-top: 4px;
}
.popup .content form div.radio-box input.radio span{
   padding-left: 10px;
}
.popup .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.popup.active .overlay{
display: block;
}
.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);   
}
.event-class{
    text-align: left;
    padding: 10px 0 10px 3px;
}
.date-and-time{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.date-and-time label{
    text-align: left;
}
.date-and-time .date{
    display: flex;
    flex-direction: column;
}
.date-and-time .date input{
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}
.date-and-time .time{
    display: flex;
    flex-direction: column;
}
.date-and-time .time input{
    margin-left: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}

.popup .content .desc-label{
    text-align: left;
    padding-bottom: 10px;
}
.popup .content textarea#Description-textarea{
    padding: 10px;
    font-size: 13px;
    height: 100px;
}
.popup .content .speaker{
    text-align: left;
    padding: 10px 0 10px 0;
}
.popup .content p.speaker-para{
    padding: 10px 0 10px 0;
    line-height: 30px;
    font-size: 12px;
}

.popup .content p.speaker-para2{
    padding: 10px 0 10px 0;
    text-align: left;
    font-size: 12px;
}
.popup .content p.speaker-para2 a{
    color: #045be6;
    text-decoration: underline;
}
.popup .content span.speaker-span {
    padding: 10px 0 10px 0;
    text-align: left;
    font-size: 12px;   
}
.popup .content span.speaker-span a{
    color: #045be6;
    text-decoration: underline;
}
.popup .content input.event-input{
    height: 50px;
    padding-left: 10px;
    font-size: 15px;
}
.popup .content input#input-speaker{
    height: 50px;
    padding-left: 10px;
    font-size: 15px;
}
.popup .content button.next-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 70px;
    float: right;
    border-radius: 10px;
    background: #045be6;
    color: white;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
}

.popup .content form.form2 .content2 img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}
.popup .content form.form2 .content2 .details p{
    text-align: left;
    padding: 30px 0 0 30px;
}
.popup .content form.form2 .content2 .details .privacy{
    text-align: left;
}
.popup .content form.form2 textarea{
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px;
    
}
.popup .content form.form2 textarea::placeholder{
    color: #858585; 
}
.popup .content form.form2 textarea:focus::placeholder{
    color: #b3b3b3; 
}
.popup .content form.form2 :where(.theme-emoji, .options){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup .content form.form2 .theme-emoji img:last-child{
    max-width: 24px;
}
.popup .content form.form2 .options{
    height: 57px;
    margin: 15px 0;
    padding: 0 15px;
    border-radius: 7px;
    border: 1px solid #B9B9B9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .popup .content form.form2 .options :where(.list, li){
    display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  }
  .popup .content form.form2 .options p{
    color: #595959;
  font-size: 15px;
  font-weight: 500;
  cursor: default;
  }
  .popup .content form.form2 .options .list{
    list-style: none;
  }
  .popup .content form.form2 .options .list li{
    height: 42px;
  width: 42px;
  margin: 0 -1px;
  cursor: pointer;
  border-radius: 50%;
  }
  .popup .content form.form2 .options .list li:hover{
    background: #f0f1f4;
  }

  .popup .content form.form2 .options .list li img{
    width: 23px;
  }

  .popup .content form.form2 button{
    height: 53px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #BCC0C4;
  /* cursor: no-drop; */
  border-radius: 7px;
  background: #045be6;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  }
  .popup .content .post-container{
    height: 100%;
    width: 100%;
    background: aliceblue;
  }

  .popup .content .post-container .photo{
    transform: translateY(250%);
  }
  .popup .content .post-container .photo button{
        background: #045be6;
        margin-top: 10px;
        color: white;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
  }
  .popup .content .post-container .photo button input.post-photo{
    background: transparent;
   
    cursor: pointer;
  }
#popup4 .video-post-part{
  width: 480px;
  height: 250px;
  border: 2px solid black;
}
#popup4 .video-post-part #videopopup{
  transform: translate(50%,160%);
  z-index: 0;
  
}
#popup4 .video-post-part img{
  transform: translate(-126px,30px);
 z-index: 1;
  width: 154px;
}
.btn-for-video{
  margin-top: 25px;
}






  .container3{
    padding: 20px 4%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center; 
}
.left-sidebar3{
    flex-basis: 20%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
    border-radius: 10px;
}
.sidebar-activity3{
    background: #fff;
    /* padding: 5px 25px; */
    margin: 12px 0; 
    border-radius: 10px;
}
.sidebar-activity3 li{
    padding-top: 20px;
}
.sidebar-activity3 li:last-child{
    padding-bottom: 20px;
}
.sidebar-activity3 li i{
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
}

.sidebar-activity3 ul{
    list-style: none;
}
.sidebar-activity3 ul li span.right{
    float: right;
    padding-right: 10px;
}
.sidebar-activity3 ul li:hover{
    cursor: pointer;
}

.main-content3{
    flex-basis: 65%;
}
.search-items3{
    background: #fff;
    margin-left: 15px;
    margin-top: 15px;
}

.search-items3 .invitation-header .left-span{
   float: left;
   padding: 15px 0 10px 20px;
}
.search-items3 .invitation-header span.right-span{
    float: right;
   margin: 15px;
}
.search-items3 .profile-part{
    display: flex;
    /* margin-top: 40px; */
}
.search-items3 .profile-part img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: -60px;
}

.search-items3 .profile-part .profile-details{
    padding-top: 80px;
    padding-left: 20px;
}
.search-items3 .profile-part .profile-details button.btn-right1{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.search-items3 .profile-part .profile-details button.btn-right{
    cursor: pointer;
    font-size: 13px;
    padding: 5px;
    background: #045be6;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}

.search-items3 .profile-part2{
    display: flex;
    /* margin-top: 40px; */
    padding-bottom: 10px;
}
.search-items3 .profile-part2 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 30px;
}
.search-items3 .profile-part2 .profile-details2{
    padding-top: 80px;
    padding-left: 20px;
}

.search-items3 .profile-part2 .profile-details2 button.btn-right1{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.search-items3 .profile-part2 .profile-details2 button.btn-right{
    cursor: pointer;
    font-size: 13px;
    padding: 5px;
    background: #045be6;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}
.search-items3  hr{
    margin-top: 10px;
}
.premiuim-membership{
    background: #fff;
    margin: 20px 0 10px 15px;
    border-radius: 15px;
}
.premiuim-membership h3{
    padding: 15px;   
}
.premiuim-membership span{
    float: right;
    margin-top: -40px;
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
}
.premiuim-membership p{
    padding-left: 20px;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.premiuim-membership .img-part{
    display: flex;
    margin-left: 40px;
}
.premiuim-membership .img-part img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: -20px;
}
.premiuim-membership .img-part p{
    font-size: 12px;
    padding-left: -20px;
}
.premiuim-membership button{
    background: #f9c982;
    margin: 20px;
    font-size: 15px;
    padding: 8px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}
.premiuim-membership span.free-trial-span{
    font-size: 12px;
    float: left;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.people-part{
    background: #fff;
    margin-top: 10px;
    margin-left: 15px;
}
.people-part span.span1{
    padding: 10px 0 10px 10px;
    margin-bottom: -10px;
    /* float: left; */
    
}
.people-part .span2{
    padding: 5px;
    float: right;
}
.card-items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 70px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    width: 230px;
    height: 300px;
}
.card h4{
    padding: 10px 0 10px 0;
    text-align: center;
}
.card p{
    padding-bottom: 10px;
    text-align: center;
}
.card .cover-photo{
    width: 230px;
    height: 80px;
    background: #b3b3b3;
    margin-top: -20px;
    margin-left: -20px;
}
   
.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -40px;
    margin-left: 50px;
}

.connect-btn {
    background: transparent;
    color: #045be6;
    border: 1px solid #045be6;
    padding: 8px ;
    cursor: pointer;
    font-size: 14px;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 5px;
}
.connect-btn i{
    margin-right: 10px;
}

.connect-btn:hover {
    border: 2px solid #045be6;
}






/* message part */
.messages_container {
    width: 75%;
    height: 100vh;
    margin: auto;
    display: flex;
    /* padding-top: 50px; */
    overflow: hidden;
  }
  
  /* <!-- -----------left_box messages------- --> */
  
  .message_left_box {
    width: 100%;
    height: calc(100vh - 80px);
    /* background: green; */
    display: flex;
    margin-right: 2%;
    border-radius: 7px;
  }
  
  /* ----------messages_left_container_box1------ */
  
  .messages_left_container_box1 {
    width: 350px;
    height: 670px;
    background-color: #ffffff;
    border-radius: 7px 0 0 0;
    /* padding: 10px; */
    margin-top: 0.6rem;
    border: 1px solid rgba(0, 0, 0, 0.11);
  }
  .message_left_container_box1_title {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  }
  .message_left_container_box1_title p {
    font-size: 1.2rem;
    color: #000;
    font-weight: bold;
    padding-left: 1rem;
    /* padding-top: 10px; */
  }
  .message_input_container {
    width: 95%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
    background-color: #eef3f8;
    padding:0 0.7rem;
    transition: 0.3s ease;
  }
  .message_input_container:hover {
    border: 2px solid #000;
  }
  .message_input {
    width: 80%;
    height: 100%;
    background-color: #eef3f8;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .message_input_container .fa-sliders {
    font-size: 1.1rem;
    margin-left: 0.5rem;
  }
  .meassage_profil_container {
    height: calc(100% - 85px);
    width: 100%;
    background-color: #ffffff;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .message_profils_slider {
    height: auto;
    width: 100%;
    position: absolute;
  }
  .message_profil_item {
    width: 100%;
    height: auto;
    display: flex;
    padding-block: 0.5rem;
    cursor: pointer;
  }
  .message_one {
    background-color: #eef3f8;
    border-left: 3px solid green;
  }
  .message_profil_photo {
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
    position: relative;
    margin-left: 1rem;
  }
  .others_message:hover {
    background-color: #0000001c;
  }
  .message_profil_photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
  }
  .message_profil_photo::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    right: 0.2rem;
    height: 0.45rem;
    width: 0.45rem;
    border: 2px solid green;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 1;
  }
  .message_profil_name_and_text {
    width: 100%;
    padding: 0 20px;
  }
  .message_profil_name_and_text p:nth-of-type(1) {
    font-size: 1.25rem;
    font-weight: 300;
    /* display: flex; */
  }
  .message_profil_name_and_text i {
    display: none;
    color: rgba(0, 0, 0, 0.644);
    /* margin-left: 3rem; */
    float: right;
  }
  /* .others_message:hover .message_profil_name_and_text p span { */
    /* display: none; */
  /* } */
  /* .others_message:hover .message_profil_name_and_text i { */
    /* display: block; */
  /* } */
  .message_profil_date {
    font-size: 1rem;
    margin-left: 2.8rem;
    float: right;
    font-weight: normal;
  }
  .message_profil_name_and_text p:nth-of-type(2) {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.808);
  }
  
  /* -----messages_left_container_box2------ */
  
  .messages_left_container_box2 {
    width: 620px;
    height: 670px;
    border-radius: 0 7px 0 0;
    margin-top: 0.6rem;
    border: 1px solid rgba(0, 0, 0, 0.11);
  }
  .messages_left_container_box2 textarea{
    resize: none;
  }
  .discution_header {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 0 7px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  }
  .discution_header_name_and_text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
  }
  .discution_header_name_and_text h3 {
    font-size: 1.1rem;
  }
  .discution-header_text {
    width: auto;
    display: flex;
    align-items: center;
  }
  .discution-header_text p {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.493);
    padding-top: 0.2rem;
  }
  .discution_online {
    width: 0.55rem;
    height: 0.55rem;
    border: 1.4px solid green;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .discution_container {
    width: 100%;
    height: 30rem;
    background: #ffffff;
    position: relative;
    overflow-y: scroll;
  }
  .discution_content {
    position: absolute;
    width: 100%;
    height: auto;
  }
  .discution_friend_profil_photo {
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 50%;
    margin: 1.5rem 0 0.5rem 0.7rem;
    position: relative;
  }
  .discution_friend_profil_photo::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0.2rem;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    /* background-color: /; */
    border: 3px solid green;
  }
  .discution_friend_profil_photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .discution_friend_profil h3 {
    font-size: 1.2rem;
    margin: 0 0 0.3rem 1rem;
  }
  .discution_friend_profil h3 span {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.568);
  }
  .discution_friend_profil p {
    font-size: 1rem;
    padding-left: 1rem;
  }
  .discution_line {
    width: 100%;
    text-align: center;
    margin-top: 0.3rem;
    position: relative;
  }
  .discution_line p {
    font-size: 1rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.568);
  }
  .discution_line::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0;
    height: 0.1rem;
    width: 43%;
    background-color: rgba(0, 0, 0, 0.082);
  }
  .discution_line::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    right: 0;
    height: 0.1rem;
    width: 43%;
    background-color: rgba(0, 0, 0, 0.082);
  }
  .my_message {
    width: 100%;
    height: auto;
    display: flex;
    padding-inline: 1rem;
    margin-bottom: 6px;
  }
  .my_message_photo_profil {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
  }
  .my_message_photo_profil img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .my_message_text h3 a {
    font-size: 1.1rem;
    color: #000;
  }
  .my_message_text h3 span {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.336);
  }
  .my_message_text p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .send_message {
    width: 100%;
    height: 10rem;
    border: none;
    font-size: 1.1rem;
    padding: 7px;
    border-top: 1.5px solid rgba(0, 0, 0, 0.11);
    transition: 0.4s ease;
  }
  .send_message:focus {
    outline: none;
    border-top: 1.4px solid green;
  }
  .discution_icons_erea {
    width: 100%;
    height: 3rem;
    background-color: #f9fafb;
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid rgba(0, 0, 0, 0.11);
  }
  .icons_erea {
    margin-top: 0.8rem;
  }
  .icons_erea i {
    font-size: 1.4rem;
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.527);
    cursor: pointer;
  }
  .send_text {
    display: flex;
  }
  .send_text p:nth-of-type(1) {
    font-size: 1.2rem;
    width: auto;
    height: 1.7rem;
    display: inline;
    margin-right: 1rem;
    margin-top: 0.8rem;
    padding: 0px 0.8rem;
    color: rgba(0, 0, 0, 0.329);
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 1rem;
  }
  
  .send_text p:nth-of-type(2) {
    width: 1.5rem;
    height: 0.8rem;
    margin-right: 1.2rem;
    text-align: center;
    margin-top: 0.3rem;
  }










  header {
    
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
  }
  .container_for_feedback{
    max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  }
  .container__left h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: #045be6;
  }
  
  .container__left p {
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  
  .container__left button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #045be6;
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
  }
  
  .container__right {
    display: grid;
    gap: 2rem;
  }
  
  .card2 {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 600px;
    height: 160px;
  }
  
  .card2 img {
    max-width: 75px;
    border-radius: 100%;
  }
  
  .card__content {
    display: flex;
    gap: 1rem;
  }
  
  .card__content span i {
    font-size: 2rem;
    color: #045be6;
  }
  
  .card__details p {
    font-style: italic;
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  
  .card__details h4 {
    text-align: right;
    color: #045be6;
    font-size: 1rem;
    font-weight: 500;
  }











  @media (width < 1200px) {
    .container_for_feedback{
      grid-template-columns: repeat(1, 1fr);
    }
  
    .container__right {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (width < 900px) {
    .container_for_feedback{
      grid-template-columns: repeat(1, 1fr);
    }
  
    .container__right {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (width < 768px) {
    .container_for_feedback{
      grid-template-columns: repeat(1, 1fr);
    }
  
    .container__right {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (width < 600px) {
    .container_for_feedback{
      grid-template-columns: repeat(1, 1fr);
    }
  
    .container__right {
      grid-template-columns: repeat(1, 1fr);
    }
  }




 




@media only screen and (max-width:600px){
  .search-box{
    background: transparent;
    width: auto;
    padding: 0;
  }  
  .search-box input{
    width: 0;
    padding: 0;
  } 
  .navbar-center ul li a span{
   display: none; 
  }
  .navbar-center ul li a{
    padding-right: 0;
    margin: 5px;
  }
  .nav-profilr-img{
    width: 30px;
  }
  .container{
    padding: 15px 6px;
  }
  .left-sidebar,.right-sidebar{
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .user-image{
    position: relative;
  }
  
  .sidebar-profile-info h1{
    margin-top: -60px;
  }
  .main-content{
    flex-basis: 100%;
  }
  .post-stats div{
    margin: 2px 0;
  }
  .post-activity-link span{
    display: none;
  }
  .post-activity-link img{
    margin-right: 0;
  }
  .profile-main,.profile-sidebar{
    flex-basis: 100%;
  }
  .profile-container{
    font-size: 14px;
  }
  .profile-pic{
    width: 100px;
    margin-top: -50px;
  }
  .profile-description{
    font-size: 14px;
  }
  #show-more-link{
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    cursor: pointer;
  }
  .sidebar-activity{
    display: none;
  }
  .sidebar-activity.open-activity{
    display: block;
  }
  .container2{
    padding: 15px 6px;
  }
  .left-sidebar2,.right-sidebar2{
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .right-sidebar2{
    flex-basis: 70%;
  }
  .main-content2{
    flex-basis: 100%;
  }
  .main-content2 .search-items h2{
    font-size: 20px;
  }
  .main-content2 .search-items span i{
    font-size: 15px;
  }
  .profile-container2{
    font-size: 14px;
    flex-basis: 100%;
  }
  .For-Notification-AD{
    flex-basis: 100%;
    position: relative;
    top: unset;
    margin-left: 15px;
    margin-right: 15px;
  }
    .left-sidebar2{
    flex-basis: 100%;
    font-size: 14px;
    flex-direction: row;
  }
  .container2 .left-sidebar2 #sidebarActivity .black-link{
    font-size: 12px;
  }
  .container2 .left-sidebar2 #sidebarActivity .blue-link{
    float: right;
    margin-top: -60px;
    font-size: 12px;
  }
  .popup .content{
    width: 530px;
    height: 450px;
  }
  .btn2 button{
    background: transparent;
    font-size: 10px;
    padding: 2px 15px 2px 15px;
    margin-left: 15px;
    color: #045be6;
    border-radius: 10px;
    border-color: #045be6;
    cursor: pointer;
  }
  .btn2 button:hover{
    border: 3px solid #045be6;
  }
  .sidebar-news2 span{
    font-size: 15pxs;
  }
  .container3{
    padding: 15px 6px;
  }
 
  .left-sidebar3{
    flex-basis: 100%;
    position: relative;
    top: unset;
    font-size: 14px;
  }
  .main-content3{
    flex-basis: 100%;
  }
  .messages_left_container_box1{
    flex-basis: 100%;
    width: 100%;  
    top: unset;
  }
  .send_message{
    height: 4rem;
  }
  .messages_left_container_box2{
    flex-basis: 100%;
    top: unset;
  }
  .container-for-sidebar div{
    height: 100%;
    width: 90%;
    margin-left: 20px;
  }
  .logo-for-sidebar img{
    margin-left: 120px;
  }
  .logo-for-sidebar p.nav-for-dashboard{
    padding-left: 100px;
  }
  .container_for_feedback{
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .container__right {
    display: grid;
    gap: 0;
  }
  .card{
    width: 232px;
  }
  .card-items{
    margin-top: 10px;
    margin-left: 35px;
  }
  .send_message{
    width: 95%;
    margin-left: 30px;
  }
  .discution_header{
    width: 95%;
    margin-left: 30px;
  }
  .discution_icons_erea{
    margin-left: 30px;
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .search-box{
    background: transparent;
    width: auto;
    padding: 0;
  }  
  .search-box input{
    width: 0;
    padding: 0;
  } 
  .navbar-center ul li a span{
   display: none; 
  }
  .navbar-center ul li a{
    padding-right: 0;
    margin: 5px;
  }
  .nav-profilr-img{
    width: 30px;
  }
  .container{
    padding: 15px 6px;
  }
  .left-sidebar,.right-sidebar{
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .user-image{
    position: relative;
  }
  
  .sidebar-profile-info h1{
    margin-top: -60px;
  }
  .main-content{
    flex-basis: 100%;
  }
  .post-stats div{
    margin: 2px 0;
  }
  .post-activity-link span{
    display: none;
  }
  .post-activity-link img{
    margin-right: 0;
  }
  .profile-main,.profile-sidebar{
    flex-basis: 100%;
  }
  .profile-container{
    font-size: 14px;
  }
  .profile-pic{
    width: 100px;
    margin-top: -50px;
  }
  .profile-description{
    font-size: 14px;
  }
  #show-more-link{
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    cursor: pointer;
  }
  .sidebar-activity{
    display: none;
  }
  .sidebar-activity.open-activity{
    display: block;
  }
  .container2{
    padding: 15px 6px;
  }
  .left-sidebar2,.right-sidebar2{
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .right-sidebar2{
    flex-basis: 70%;
  }
  .main-content2{
    flex-basis: 100%;
  }
  .main-content2 .search-items h2{
    font-size: 20px;
  }
  .main-content2 .search-items span i{
    font-size: 15px;
  }
  .profile-container2{
    font-size: 14px;
    flex-basis: 100%;
  }
  .For-Notification-AD{
    flex-basis: 100%;
    position: relative;
    top: unset;
    margin-left: 15px;
    margin-right: 15px;
  }
    .left-sidebar2{
    flex-basis: 100%;
    font-size: 14px;
    flex-direction: row;
  }
  .container2 .left-sidebar2 #sidebarActivity .black-link{
    font-size: 12px;
  }
  .container2 .left-sidebar2 #sidebarActivity .blue-link{
    float: right;
    margin-top: -60px;
    font-size: 12px;
  }
  .popup .content{
    width: 530px;
    height: 450px;
  }
  .btn2 button{
    background: transparent;
    font-size: 10px;
    padding: 2px 15px 2px 15px;
    margin-left: 15px;
    color: #045be6;
    border-radius: 10px;
    border-color: #045be6;
    cursor: pointer;
  }
  .btn2 button:hover{
    border: 3px solid #045be6;
  }
  .sidebar-news2 span{
    font-size: 15pxs;
  }
  .container3{
    padding: 15px 6px;
  }
 
  .left-sidebar3{
    flex-basis: 100%;
    position: relative;
    top: unset;
    font-size: 14px;
  }
  .main-content3{
    flex-basis: 100%;
  }
  .messages_left_container_box1{
    flex-basis: 100%;
    width: 100%;  
    top: unset;
  }
  .send_message{
    height: 4rem;
  }
  .messages_left_container_box2{
    flex-basis: 100%;
    top: unset;
  }
  .container-for-sidebar div{
    height: 100%;
    width: 90%;
    margin-left: 20px;
  }
  .logo-for-sidebar img{
    margin-left: 120px;
  }
  .logo-for-sidebar p.nav-for-dashboard{
    padding-left: 100px;
  }
  .container_for_feedback{
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .container__right {
    display: grid;
    gap: 0;
  }
  .card{
    width: 232px;
  }
  .card-items{
    margin-top: 10px;
    margin-left: 35px;
  }
  .send_message{
    width: 95%;
    margin-left: 30px;
  }
  .discution_header{
    width: 95%;
    margin-left: 30px;
  }
  .discution_icons_erea{
    margin-left: 30px;
    width: 90%;
  }
}
@media only screen and (max-width: 992px) {
  .search-box{
    background: transparent;
    width: auto;
    padding: 0;
  }  
  .search-box input{
    width: 0;
    padding: 0;
  } 
  /* .navbar-center ul li a span{
   display: none; 
  } */
  .navbar-center ul li a{
    padding-right: 0;
    margin: 5px;
  }
  .nav-profilr-img{
    width: 30px;
  }
  .container{
    padding: 15px 6px;
  }
  .left-sidebar,.right-sidebar{
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .user-image{
    position: relative;
  }
  
  .sidebar-profile-info h1{
    margin-top: -60px;
  }
  .main-content{
    flex-basis: 100%;
  }
  .post-stats div{
    margin: 2px 0;
  }
  .post-activity-link span{
    display: none;
  }
  .post-activity-link img{
    margin-right: 0;
  }
  .profile-main,.profile-sidebar{
    flex-basis: 100%;
  }
  .profile-container{
    font-size: 14px;
  }
  .profile-pic{
    width: 100px;
    margin-top: -50px;
  }
  .profile-description{
    font-size: 14px;
  }
  #show-more-link{
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    cursor: pointer;
  }
  .sidebar-activity{
    display: none;
  }
  .sidebar-activity.open-activity{
    display: block;
  }
  .container2{
    padding: 15px 6px;
  }
  .left-sidebar2,.right-sidebar2{
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .right-sidebar2{
    flex-basis: 70%;
  }
  .main-content2{
    flex-basis: 100%;
  }
  .main-content2 .search-items h2{
    font-size: 20px;
  }
  .main-content2 .search-items span i{
    font-size: 15px;
  }
  .profile-container2{
    font-size: 14px;
    flex-basis: 100%;
  }
  .For-Notification-AD{
    flex-basis: 100%;
    position: relative;
    top: unset;
    margin-left: 15px;
    margin-right: 15px;
  }
    .left-sidebar2{
    flex-basis: 100%;
    font-size: 14px;
    flex-direction: row;
  }
  .container2 .left-sidebar2 #sidebarActivity .black-link{
    font-size: 12px;
  }
  .container2 .left-sidebar2 #sidebarActivity .blue-link{
    float: right;
    margin-top: -60px;
    font-size: 12px;
  }
  .popup .content{
    width: 530px;
    height: 450px;
  }
  .btn2 button{
    background: transparent;
    font-size: 10px;
    padding: 2px 15px 2px 15px;
    margin-left: 15px;
    color: #045be6;
    border-radius: 10px;
    border-color: #045be6;
    cursor: pointer;
  }
  .btn2 button:hover{
    border: 3px solid #045be6;
  }
  .sidebar-news2 span{
    font-size: 15pxs;
  }
  .container3{
    padding: 15px 6px;
  }
 
  .left-sidebar3{
    flex-basis: 100%;
    position: relative;
    top: unset;
    font-size: 14px;
  }
  .main-content3{
    flex-basis: 100%;
  }
  .messages_left_container_box1{
    flex-basis: 100%;
    width: 100%;  
    top: unset;
  }
  .messages_left_container_box2{
    width: 100%;
  }
  .container-for-sidebar div{
    height: 100%;
    width: 90%;
    margin-left: 20px;
  }
  .logo-for-sidebar img{
    margin-left: 120px;
  }
  .logo-for-sidebar p.nav-for-dashboard{
    padding-left: 100px;
  }
  .container_for_feedback{
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .container__right {
    display: grid;
    gap: 0;
  }
  .card{
    width: 232px;
  }
  .card-items{
    margin-top: 10px;
    margin-left: 35px;
  }
  .send_message{
    width: 95%;
    margin-left: 30px;
    
      height: 4rem;
  }
  .discution_header{
    width: 95%;
    margin-left: 30px;
  }
  .discution_icons_erea{
    margin-left: 30px;
    width: 90%;
  }
}
@media only screen and (max-width: 1200px) {
  .search-box{
    background: transparent;
    width: auto;
    padding: 0;
  }  
  .search-box input{
    width: 0;
    padding: 0;
  } 
  /* .navbar-center ul li a span{
   display: none; 
  } */
  .navbar-center ul li a{
    padding-right: 0;
    margin: 5px;
  }
  .nav-profilr-img{
    width: 30px;
  }
  .container{
    padding: 15px 6px;
  }
  .left-sidebar,.right-sidebar{
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .user-image{
    position: relative;
  }
  
  .sidebar-profile-info h1{
    margin-top: -60px;
  }
  .main-content{
    flex-basis: 100%;
  }
  .post-stats div{
    margin: 2px 0;
  }
  .post-activity-link span{
    display: none;
  }
  .post-activity-link img{
    margin-right: 0;
  }
  .profile-main,.profile-sidebar{
    flex-basis: 100%;
  }
  .profile-container{
    font-size: 14px;
  }
  .profile-pic{
    width: 100px;
    margin-top: -50px;
  }
  .profile-description{
    font-size: 14px;
  }
  #show-more-link{
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    cursor: pointer;
  }
  .sidebar-activity{
    display: none;
  }
  .sidebar-activity.open-activity{
    display: block;
  }
  .container2{
    padding: 15px 6px;
  }
  .left-sidebar2,.right-sidebar2{
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .right-sidebar2{
    flex-basis: 70%;
  }
  .main-content2{
    flex-basis: 100%;
  }
  .main-content2 .search-items h2{
    font-size: 20px;
  }
  .main-content2 .search-items span i{
    font-size: 15px;
  }
  .profile-container2{
    font-size: 14px;
    flex-basis: 100%;
  }
  .For-Notification-AD{
    flex-basis: 100%;
    position: relative;
    top: unset;
    margin-left: 15px;
    margin-right: 15px;
  }
    .left-sidebar2{
    flex-basis: 100%;
    font-size: 14px;
    flex-direction: row;
  }
  .container2 .left-sidebar2 #sidebarActivity .black-link{
    font-size: 12px;
  }
  .container2 .left-sidebar2 #sidebarActivity .blue-link{
    float: right;
    margin-top: -60px;
    font-size: 12px;
  }
  .popup .content{
    width: 530px;
    height: 450px;
  }
  .btn2 button{
    background: transparent;
    font-size: 10px;
    padding: 2px 15px 2px 15px;
    margin-left: 15px;
    color: #045be6;
    border-radius: 10px;
    border-color: #045be6;
    cursor: pointer;
  }
  .btn2 button:hover{
    border: 3px solid #045be6;
  }
  .sidebar-news2 span{
    font-size: 15pxs;
  }
  .container3{
    padding: 15px 6px;
  }
 
  .left-sidebar3{
    flex-basis: 100%;
    position: relative;
    top: unset;
    font-size: 14px;
  }
  .main-content3{
    flex-basis: 100%;
  }
  .messages_left_container_box1{
    flex-basis: 100%;
    width: 100%;  
    top: unset;
  }
  .send_message{
    height: 4rem;
  }
  .messages_left_container_box2{
    width: 100%;
  }
  .container-for-sidebar div{
    height: 100%;
    width: 90%;
    margin-left: 20px;
  }
  .logo-for-sidebar img{
    margin-left: 120px;
  }
  .logo-for-sidebar p.nav-for-dashboard{
    padding-left: 100px;
  }
  .container_for_feedback{
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .container__right {
    display: grid;
    gap: 0;
  }
  .card{
    width: 232px;
  }
  .card-items{
    margin-top: 10px;
    margin-left: 35px;
  }
  .send_message{
    width: 95%;
    margin-left: 30px;
  }
  .discution_header{
    width: 95%;
    margin-left: 30px;
  }
  .discution_icons_erea{
    margin-left: 30px;
    width: 90%;
  }
}